# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Node y React
node_modules/
dist/
build/
.vite/

# Variables privadas
.env
.env.*
!.env.example

# Editores
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Temporales
*.log
*.tmp
.tmp_pycache/

# Cache de rutas
data/cache/
